.about {
	height: calc(100vh - 4rem);
	margin: 2rem;

	background-color: #272f33;
	overflow: auto;
	color: white;
}

.main{
	width: 60%;
	margin: 4rem auto;
}
.about h1{
	font-size: 2rem;
	
}
.about p{
	font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
	.main {
		width: 100%;
		margin: 3rem 1rem;
	}
	.about {
		margin: 0.2rem;
		height: calc(100vh - 0.4rem);
	}
}
